# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Environments
.env
.env.*.local

# Django
db.sqlite3
/media/
*.log

# Node
/node_modules
/.pnp
.pnp.js
/build
/coverage

# IDEs & OS
.vscode/
.idea/
.DS_Store
