# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
/backend
/backend/venv/pyvenv.cfg

# Environments
.env
.env.*.local

# Django
db.sqlite3
/media/
*.log

# Node
/frontend/node_modules
/.pnp
.pnp.js
/build
/coverage

# IDEs & OS
.vscode/
.idea/
.DS_Store
